{% extends "base.html" %}
{% load url from future %}
{% block title%} {{SITE_TITLE}} | Help / FAQ{% endblock title %}
{% block navbar %} {% endblock navbar %}



{% block m_column_content %}

<div class="row-fluid">
    <div class="span8">
        <h2>Help / FAQ </h2>
        <p></p>
        <h3>Questions</h3>
        <ol>
            <li> <a href="#chrome">I'm having trouble viewing content on the site!</a></li>
            <li> <a href="#profile">How do you I change my password or other personal info? </a></li>
            <li> <a href="#speed">How do I watch the videos sped up or slowed down?</a></li>
            <li> <a href="#time">Do I have to watch the lectures at a particular time?</a></li>
            <li> <a href="#more">I've got ideas for more items to add to this page!</a></li>
        
        </ol>
        <p></p>
        <h3>Answers</h3>
        <ol>
            <li><a name="chrome"></a><b>I'm having trouble viewing content on the site!</b><p>If you're having any difficulties viewing content on the site, try using Chrome or Firefox as your browser.</p></li>
            
            <li><a name="profile"></a><b>How do you I change my password or other personal info?</b><p>If you want to change your password, or any of your profile information, click on your name in the top navigation bar.</p></li>
            
            <li><a name="speed"></a><b>How do I watch the videos sped up or slowed down?</b><p>If you disable Flash in your browser, you should get the HTML5 YouTube player when you view a video, and if you click on "Settings" (the cog near the bottom right of your video player), you'll find options to change the speed.</p></li>
            
            <li><a name="time"></a><b>Do I have to watch the lectures at a particular time?</b><p>No, you can watch them at a time that's convenient for you.</p></li>
            
            <li><a name="more"></a>Send suggestions</a> for useful help items to <a href="mailto:c2g@it.usyd.edu.au">c2g@it.usyd.edu.au</li>
            
           
        
        </ol>
    </div>
</div>
{% endblock m_column_content %}
