{% extends "course_base.html" %}
{% load url from future %}




{% block m_column_content %}

<style>
.header {font-weight: bold; display: block; margin: 0px; margin-top: 20px;}
.explanation {color: #800000; font-size: 9pt; font-style: italic; display: block; margin: 0px; }
</style>

<h2>Update Enrolments</h2><br />

<form name="form_update_enrolment" method="POST" action="{% url 'courses.admin_views.enroller' common_page_data.course_prefix common_page_data.course_suffix %}" enctype="multipart/form-data">
    <label class="logo">Please upload the CSV file obtained from the Timetable site here (this process can take a while):</label>
    <input type="file" name="csv" id="id_csv" /> <br />
	<input type="submit" class="btn" value="Save" style='padding: 5px; margin-top: 20px;'/>
	{% csrf_token %}
</form>

{% endblock m_column_content %}
