
/**************
home unit boxes
****************/

.home-unit img {float: left;
    padding-right: 10px;
    height: 286px;
    width: 286px;}

.home-unit a {color: #666; font-weight: normal;}

.home-unit a:hover {text-decoration: none}

.home-unit a h3 {color: #1F5EB7; padding-top: 20px;}

.home-unit-box {padding-top:2px;}

.home-unit-box .row{background-color: #FCFCFC;
    max-height: 286px;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 2px 0 #999999;
    padding-top: 0px;
    margin-left:0px;
}

.home-unit .container { min-width: 700px; width: auto;}

.home-unit-box .row:hover {box-shadow: 0px 2px 4px 0 #666;
    cursor: pointer;
    border-color: #efefef;}



/**************
end home unit boxes
****************/

a {color:#008ED6;}
a:hover {color:#009EE6;}


#global-header {
	background: #26547C;
	padding-bottom:0px;
	box-shadow: 1px 1px 5px 1px #666666;
	overflow:hidden}

.stanford-logo {
    background-image: url(../../graphics/core/usyd-logo.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px auto;
    display: block;
    height: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 13px;
    padding-left: 23px;
    padding-right: 20px;
    padding-top: 13px;
    text-indent: -999px;
    width: 198px;
    float: left;
    position: relative;
}

.stanford-logo a {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
}

.tagline {
    float: right;
    margin-top: 37px;
    padding-right: 20px;
}

.top-nav {
    top: -47px;
}

.top-nav li .btn {background-color: #666;
	font-weight:normal;
	box-shadow:none;
	text-shadow: none;}


.top-nav li .btn:hover {
  opacity: 0.9;
  background: #666;}

.home .hero-header {
    background-image: url("../../graphics/core/USYD-quadrangle.png");
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;    }
    
body.home {
   background-color: #fff;
   }
   
   
.home-unit {
	padding-top: 0px;}
   
   
   
.class2go a {
	background-color: #E2E2E2;}
        
 /*******
MENU
********/
        
        
#c2g_layout_topbar .navbar .navbar-inner {
        background-image: url("../../graphics/core/uwa-bg-nav.png") !important;
   }



.navbar .nav .active > a, .navbar .nav .active > a:hover  {
        background-image: url("../../graphics/core/uwa-bg-nav-selected.png") !important;
        color: #000;
   }


.navbar .nav > li > a {text-shadow: none;
color: #000;}        

ul.nav li.dropdown:hover ul.dropdown-menu,
  .navbar .nav li.dropdown.open ul.dropdown-menu,
  .navbar .nav li.dropdown:hover .dropdown-toggle,
  .navbar .nav li.dropdown.open .dropdown-toggle {
    background:#efefef;
    
  }


/*********
ACCORDION
*********/


.well.tight {
    background-color: #E8F4F9;}
    
    .well {border-color: #008ED6;}
    
    .nav-list .divider {
    background-color: #89CBE5;
    border-bottom: none;
}
.upcoming {
  background:#E8F4F9;
}


/********
UNITS _MOVED TO BODY.CSS
*********/

.home-unit img {height:186px; width:186px;}
.home-unit-box {width: 100%;}

.mainrow {min-width: 700px;}

.row .sixcol {
margin-right: 3.8%;
float: left;
min-height: 1px;
width: 48%;}


.last {
margin-right: 0px !important;
}


.home-unit .row {margin-left:0px !important;}

.front {}


**************
Instructor  boxes 
****************/

.instructor-box {
}

.instructor-box .row {
	background-color: #FCFCFC;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 1px 2px 0 #999999;
	padding-top: 0px;
	margin-left:0px;
}

.instructor-box img {
	float: left;
	position: relative;
	padding-right: 10px;
	height: 200px;
	width: 120px;
}


.instructor-box p {
	padding-top:2px; 
	font-size:1em;
	margin: 5px;
}






/**************
end Instructor  boxes 
****************/



/*********
BADGE
*********/

#badge { 
   position: absolute;
    right: -18px;
    top: -8px;
  }

#badge img{height: auto;
  width: auto;}
  
  .home-unit {position:relative}
  
  .mainrow {min-width: 800px !important;}




/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 900px) {

	body {
		
	}
	
.home-unit a p {font-size: 14px;
line-height: 16px;}

}



   
/**********
FOOTER
***********/   
   
   #global-footer {
    background:url(../../graphics/core/footer-hp-bgrepeat.jpg) repeat-x;}
    
    .footer ul a {color: #666;}
    
    .footer .vcard {
    clear: left;
    color: #666;
    font-size: 11px;
}

/**********
BUTTONS
***********/

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #00AEF6;
  *background-color: #008ED6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00AEF6), to(#008ED6));
  background-image: -webkit-linear-gradient(top, #00AEF6, #008ED6);
  background-image: -o-linear-gradient(top, #00AEF6, #008ED6);
  background-image: linear-gradient(to bottom, #00AEF6, #008ED6);
  background-image: -moz-linear-gradient(top, #00AEF6, #008ED6);
  background-repeat: repeat-x;
  border-color: #008ED6 #008ED6 #008ED6;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff00AEF6', endColorstr='#ff008ED6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #008ED6;
  *background-color: #008ED6;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #008ED6;
}

.registration .well {
background: #f5f5f5;
}

.form-actions {
    border: 1px solid #00AEF6;
    border-radius: 3px;
    background:#f5f5f5;
}

.nav-list > .current > a,
.nav-list > .current > a:hover {
  color: #fff;
  background-color: #008ED6;
}

.question, .subquestion {
    border-color: #008ED6;
}


.questionNumLabel {
        border-color: #008ED6 !important;
    }

div.question .per-question-btns {border-color: #008ED6 !important;}

#exam-pane .inline-explanation {background-color: #e8e8e8 !important; color: #008ED6 !important; }

.toggle-views {
    border-radius: 3px;
    border: 1px solid #99CEDF;
    background:#E8F4F9;
    padding-right: 15px;
}

.explanation {color: #008ED6 !important;}

#c2g_layout_topbar.preview-page {
    width:100%;
}

div.ui-dialog div.ui-widget-header {
background: 
#008ED6 !important;
}

.profile-courses .course {
    border: 1px solid #008ED6;
    background-color: #E8F4F9;
}

.home .container-fluid {
  padding-right: 20px;
  padding-left: 20px;
}
.course-list-item {
    padding-left: 5px;
}

.course-list-item.zebra_light {
    background-color: #f5f5f3;
}
.course-list-item.zebra_dark {
    background-color: #ebebe9;
}

.course-list-item .icon-pencil,
.course-list-item .icon-book,
.course-list-item .icon-file,
.course-list-item .icon-check,
.course-list-item .icon-facetime-video {
    font-size:24px; 
    color:#444;
    opacity:.3;
    padding-left:5px;
    padding-top:3px;
}

.cant-watch-video {
    background-color: #E8F4F9 !important;
    border-color: #008ED6 !important;
}

#slideIndex {
    background-color: #ebebe9;
}

.nav-tabs > li > a {
border-bottom: 1px solid #999;
}

.nav-tabs > li > a {
  color: #555555;
  cursor: default;
  background-color: #f6f6f4;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs > li.active > a {
  background-color: #fff !important;
}

fieldset label {
    position: relative !important;
}

/* Twitter Widget */
#twitterWidget .twtr-widget .twtr-doc {
border: 1px solid #008ED6;
}

/*Date picker stuff*/

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border-color: #006EB6; background: #008ED6; color: #ffffff; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border-color: #006EB6; background: #008ED6; color: #ffffff; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border-color: #006EB6; background: #008ED6; color: #ffffff;  }

.ui-widget-header { border-color: #006EB6; background: #008ED6;}
.ui-state-hover .ui-icon {  background: url(ui-lightness/images/ui-icons_ffffff_256x240.png)}
.ui-state-hover .ui-icon-circle-triangle-e {background-position: -48px -192px; }
.ui-state-hover .ui-icon-circle-triangle-w {background-position: -80px -192px; }
.ui-state-hover .ui-icon-closethick {background-position: -96px -128px; }
